<div class="flex-container">
  <div class="flex-item no-grow">
    <div>
      <button (click)="create()">リソースコントローラーを作る</button>
    </div>
    <select style="width: 10em;" size="10" (change)="onChangeSelectController($event.target.value)" [ngModel]="selectedController?.identifier">
      <option *ngFor="let resourceController of resourceControllers" value="{{resourceController.identifier}}">{{resourceController.titleName}}</option>
    </select>
  </div>
  <div class="flex-item">
    <ng-container *ngIf="!isEmpty && selectedController">
      <div>名前 :
        <input [(ngModel)]="titleName" placeholder="Name" [attr.disabled]="!isEditable ? '' : null" />
      </div>
      <hr/>
      <div>リソース :
        <input [(ngModel)]="dataName" placeholder="resource" [attr.disabled]="!isEditable ? '' : null" />
      </div>
      <div>修正値 :
        <select [(ngModel)]="handler" [attr.disabled]="!isEditable ? '' : null">
          <option value="{{handleType.PLUS}}">{{handleType.PLUS}}</option>
          <option value="{{handleType.MINUS}}">{{handleType.MINUS}}</option>
          <option value="{{handleType.EQUAL}}">{{handleType.EQUAL}}</option>
        </select>
        <input [(ngModel)]="valueDiff" placeholder="value" [attr.disabled]="!isEditable ? '' : null" />
      </div>
      <div>表示メッセージ :
        <input [(ngModel)]="messageTemplate" placeholder="表示メッセージ" [attr.disabled]="!isEditable ? '' : null" />
      </div>
      <div>
        <ng-container *ngIf="!isDeleted">
          <button (click)="save()">保存</button>
          <button class="danger" (click)="delete()" [attr.disabled]="resourceControllers.length <= 0 ? '' : null">削除</button>
        </ng-container>
        <ng-container *ngIf="isDeleted">
          <button (click)="restore()">元に戻す</button>
        </ng-container>
      </div>
      <hr/>
      <div>
        <img *ngIf="selectedCharacter && selectedCharacter.imageFile" height="50" [src]="selectedCharacter.imageFile.url | safe: 'resourceUrl'" />
      </div>
      <select [(ngModel)]="characterIdentifier" (change)="selectGameCharacter($event.target.value)" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let gameCharacter of gameCharacters" value="{{gameCharacter.identifier}}">{{gameCharacter.name}}</option>
      </select>
      <select [(ngModel)]="chatTabidentifier" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let chatTab of chatMessageService.chatTabs" value="{{chatTab.identifier}}">{{chatTab.name}}</option>
      </select>
      <button (click)="send()" [attr.disabled]="!isEditable || !selectedCharacter ? '' : null">送信</button>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="isEmpty">
  <div style="font-size: 12px;">※リソースコントローラーが１つも作成されていません。「リソースコントローラーを作る」からリソースコントローラーを作成することができます。</div>
</ng-container>